@media screen and (max-width: 1024px) {
}

/* TABLET */
@media screen and (max-width: 768px) {
}

/* HANDPHONE */
@media screen and (max-width: 500px) {
  /* navbar */

  .navbar-brand {
    font-size: 10px;
  }

  /* beranda */

  .beranda {
    background-position-x: 50%;
    font-size: 20px;
  }

  /* contact */

  .container-contact {
    flex-direction: column;
    align-items: center;
  }

  .content-contact {
    width: 90%;
    margin-right: 0% !important;
    margin-top: 0% !important;
  }

  /* tentang kami */

  .tentang-kami {
    flex-direction: column !important;
    align-items: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tentang-kami h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .tentangimage img {
    width: 200px;
  }

  .tentangimage {
    margin: 0% !important;
  }

  .tentangtext {
    margin-right: 0% !important;
  }

  /* service */
  .service-text h1 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
  }

  .service {
    background-color: grey;
    padding: 80px 30px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 20px;
  }

  .service-card p {
    font-size: 12px;
  }

  .service-card h1 {
    /* background-color: rgb(133, 132, 132);
    border-radius: 10px;
    box-shadow: inset 0 0 3px black; */
    padding: 10px;
    margin-bottom: 20px;
  }

  .service-image {
    margin: 0% !important;
  }

  /* gallery */

  .gallery-content {
    padding: 0 30px;
  }
}
