html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Navbar style */

.navbar {
  background: transparent;
}

.nav-link {
  font-family: arial;
}

.navbar-brand {
  font-size: 18px;
}

.nama-brand {
  margin-top: 9px !important;
  font-size: 13px;
  font-family: arial;
}

/* Beranda style */
.beranda {
  background-image: url(../img/herofix.jpg);
  padding: 350px 0;
  background-size: cover;
  background-position-y: 30%;
}

.beranda h1 {
  color: white;
  text-shadow: 0 0 5px black;
}

/* tentang-kami style */

.tentang-kami {
  padding: 150px 0;
}

/* service style */
.service {
  background-color: grey;
  padding: 150px 0;
}

.service img {
  box-shadow: 0 0 5px black;
}

.service-card {
  background-color: rgb(97, 96, 96);
}

/* gallery style */
.gallery-project {
  padding: 150px 0;
}

.gallery-content img {
  width: 700px !important;
}

.gallery-project h1 {
  font-family: arial;
  margin-bottom: 100px;
}

/* contact style */

.contact {
  background-color: grey;
  padding: 150px 0;
}

.contact h1 {
  font-size: 18px;
}

.content-contact {
  width: 50%;
}
